@import "styles/global";

.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: toRem(70);
}
.title {
   margin-top: toRem(30);
   font-size: toRem(22);
   line-height: toRem(28);
   font-weight: 600;
   text-align: center;
   margin-left: toRem(10);
   @media (max-width: 768px) {
      margin-top: toRem(20);
   }
}
.filters {
   width: 100%;
   top: toRem(50);
   display: flex;
   flex-direction: row;
   margin-top: toRem(20);
   &__space {
      flex: 1 0 auto;
   }
   @media (max-width: 768px) {
      margin-top: toRem(20);
   }
}
.productItems {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(toRem(276), 1fr));
   column-gap: toRem(20);
   row-gap: toRem(20);
   margin-bottom: toRem(50);
   margin-top: toRem(40);
   @media (max-width: 768px) {
      margin-top: toRem(20);
   }
}

.minimumItems {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(toRem(276), toRem(400)));
   column-gap: toRem(20);
   row-gap: toRem(20);
   margin-bottom: toRem(50);
   margin-top: toRem(40);
   @media (max-width: 768px) {
      margin-top: toRem(20);
   }
}
